# manguebit-day/* resets */
* {padding: 0;margin: 0;box-sizing: border-box;list-style: none;transition: all .2s ease-out;}
body {font-size: 62.5%}


/* fonts */
@font-face {src: url('fonts/Nunito-Regular.ttf');font-family: 'texto-normal'}
@font-face {src: url('fonts/Nunito-Bold.ttf');font-family: 'titulos'}
@font-face {src: url('fonts/Nunito-Light.ttf');font-family: 'texto-light'}

/* communs */
p, a, span, input, li, label {font-family: 'texto-normal', sans-serif;font-size: 1rem;color: #585555;}
img{max-width: 100%;}
.container {max-width: 900px;margin: 0 auto;width: 90%;padding: 1rem;}
.titulo{font-family: titulos,sans-serif; font-size: 2rem; text-transform: uppercase; margin: 1rem 0;}
.subtitulo{font-family: texto-normal,sans-serif; font-size: 1.5rem;font-weight: initial;margin: .5rem 0 1rem;}
.flex {display: flex;align-items: center;}
.flex.vertical{flex-direction: column; align-items: flex-start}
.extremos {justify-content: space-between;}
.relative {position: relative}
.wrap {flex-wrap: wrap}

/* cabecalho */
header{height: 700px; background: url(img/bg-topo.png) no-repeat center; background-size: cover}
.logo {max-width: 350px; padding: 1rem}
.logo-topo{display: none}
.menu-topo{ top: 0; padding:1rem .5rem; }

.menu-topo li{ margin: 0 .2rem;}
.menu-topo.container{max-width: 1400px;}
.menu-topo ul a{
    display:block;
    padding: .5rem;
    font-size: .8rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.menu-topo a[title="Organização"],.menu-topo a[title="Inscrições"]{display: none}
.menu-topo ul a:hover{text-decoration: underline}
.box-interaction {
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 5rem auto 0;
}
/* menu pos screen */
.menu-topo.ativo{
    position: fixed;
    z-index: 9;
    top: 0;
    max-width: inherit;
    background: #fff;
    width: 100%;
}
.menu-topo > div{max-width: 1400px; margin:  0 auto}
.ativo .logo-topo{display: block; max-width: 200px;}
.menu-topo.ativo a{color: #223492}
.ativo .logo{display:none}
.menu-topo.ativo a[title="Organização"],.menu-topo.ativo a[title="Inscrições"]{display: block}

#countdownie{color: #fff; font-family:texto-light,sans-serif; font-size:3rem; display: block;font-weight: 200;letter-spacing: 1.9px; margin: 2rem auto;}

.button {padding: .8rem 2rem;color: #fff;text-decoration: none;border-radius: 50px;background-color: #db7c33;font-family: titulos,sans-serif;font-weight: 100;letter-spacing: 1px;text-transform: uppercase;}
.box-interaction .button{margin:1.5rem auto; font-size: 1.3rem; padding: .8rem 2.5rem;}
.box-interaction .button:hover{background-color: #934103; text-decoration: underline}

.button-video img{
    max-width: 40px;
    margin-right: 1rem;
    transform: scale(1)
}
.button-video.flex {
    color: #fff;
    font-weight: 100;
    font-size: 1.3rem;
    margin: 10rem auto 0;
    cursor: pointer;
}
.button-video:hover{ text-decoration:underline}
.button-video:hover img{transform: scale(.85)}

/* modal */
.modal{
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: #000000e6;

}
.modal .conteudo{display: table;  width: 100%;max-width: 750px;}
.close {
    padding: 1rem;
    color: #fff;
    display: block;
    cursor: pointer;
    position: absolute;
    top:1rem; right: 2rem;
}
.modal.ativo{opacity: 1; pointer-events: all}

/* SOBRE */
#sobre{background: #F8F8F8; padding: 3rem 0}
#sobre .box-sobre{max-width: 800px;line-height: 2rem;}
#sobre a[href*="manguez.al"]{margin: 3rem 0 1rem; display: block}

/* CONVIDADOS */
.lista-speakers {display: grid; grid-template-columns:repeat(4,calc(100% / 4 - 2rem)); grid-gap:2rem; align-items: center; width: 100%;flex-wrap: wrap;padding-top: 2rem;  }
.lista-speakers li {padding: 2.5rem 1.5rem;height: 270px;background: #fff;border-radius: 3px;box-shadow: 0px 0px 7px -3px grey;}
.lista-speakers img{max-width: 130px; margin:0 auto 1rem; display: block}
.lista-speakers img {
    width: 130px;
    margin: 0 auto 1rem;
    display: block;
    height: 130px;
    overflow: hidden;
    border-radius: 100%;
}
.box-speaker{max-width: 1200px; margin: 0 auto; padding: 3rem 0}
.box-speaker .titulo{margin: 0 auto}
.infos span {display: block;text-align: center;font-size: 1rem;}
.infos .nome,.lista-organizadores .nome{font-family: titulos,sans-serif; font-size: 1.2rem; color: #223492;}
.infos .empresas, .lista-organizadores .empresa{font-family: texto-light,sans-serif; margin: .5rem 0;  font-size: .9rem}

/* FIQUEPORDENTRO */
#fiquepordentro {background: url(img/bg-topo.png) no-repeat center;background-size: auto auto;padding: 3rem 0; margin: 2rem 0 0}
#fiquepordentro .titulo{color: #fff}
#fiquepordentro p{color: #fff; font-size: 1.2rem;display: block;padding: .4rem 0;}
#fiquepordentro #mc_embed_signup_scroll{ display: flex; align-items: center; justify-content: flex-start; margin: .8rem 0; }
#fiquepordentro #mce-EMAIL {padding: .8rem 1.5rem;border: none;width: 100%;border-radius: 48px;}
#fiquepordentro .mc-field-group{width:50% ;}
#fiquepordentro .btn.btn-default.wow.zoomIn {padding: .8rem 1.6rem;border: none;margin-left: .8rem;font-size: 1rem; color:#fff; background-color: #db7c33}

/* AGENDA */
#schedule {background: #F8F8F8; padding: 2rem 1rem; position: relative}
.box-agenda li{display: flex;align-items: flex-start;margin: 1rem 0;}
.box-agenda{overflow: hidden; }
.box{padding: 2rem 2rem;background: #fff;margin-bottom: 3rem; box-shadow: 0px 0px 7px -3px grey; border-radius: 5px ;position: relative; z-index: 1;}
#schedule .button{margin: 2rem auto 0;
    display: table;
    font-size: .8rem;
    font-weight: initial;}
#schedule .subtitulo{color: #db7c33;
    font-family: titulo,sans-serif;
    letter-spacing: 2px;
    display: table;
    margin: 1rem 0 1rem;
    font-size: 1.1rem;
    font-weight: 100;}
.box-agenda .horario{padding: .2rem .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #db7c33;
    color: #db7c33;
    width: 90px;
    height: 30px;
    transform: translateX(0);
    margin-right: 1rem;
}
    .box-agenda .info span {color: #838181;
        font-size: .9rem;
        letter-spacing: 1px;
        margin-top: .3rem;
        display: table;
        background: #f2f2f2;
    }
    .box-agenda .info{ transform:translateX(0);}
    .box-agenda p{font-size: 1.2rem;}
    .box-agenda li:hover span{transform:translateX(3%);}
    .box-agenda li:hover{cursor: default}
    .box-agenda li:hover .info{transform:translateX(-1%);}

    .bg{
        background: url(img/bg-topo.png) center;
        background-size: auto auto;
    background-size: auto auto;
    background-size: auto auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    mix-blend-mode: color-burn;
    /* filter: grayscale(4); */

    }

/* INGRESSO */
#ingresso{padding: 2rem 0}
#ingresso #sympla-widget-272368 {max-width: inherit !important;}



/* [data-box]{opacity: 0; transition:all .5s ease-in} */
[data-box].ativo{opacity: 1;}



/* ORGANIZACAO */
.lista-organizadores {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1000px;
    grid-gap:0.25rem;
    margin: 3rem auto;
    text-align: center;
    width: 100%;
}
.lista-organizadores .img {
    display: block;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto;
}
.lista-organizadores span{display: block;}
.lista-organizadores .nome{margin-top: .5rem}
.lista-organizadores a[href*="linkedin"]{width: 25px; height: 25px; background:url(img/organization/linkedin-button.png) no-repeat center; background-size: contain; display: block; margin: 0 auto}
#organizacao {padding: 2rem 1rem 3rem;}

/* PATROCINADORES */
#sponsors{text-align: center; padding: 2rem 0}
#sponsors li {filter: grayscale(21) brightness(1.3); margin: 0 1rem}
#sponsors li:hover {filter: grayscale(0) brightness(1);}
#sponsors li a{display: block}
#sponsors .guaiamum{max-width: 1400px; align-content: center; justify-content: center }
#sponsors .guaiamum li{width:320px;}
#sponsors .caranguejo {max-width: 1400px; align-content: center; justify-content: center}
#sponsors .caranguejo li{width: 300px;}
#sponsors .aratu {max-width: 1200px; display: flex; align-items: center; justify-content: center}
#sponsors .aratu li{width:140px;}

/* RODAPE */
.rodape {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background: #eaeaea;

}
.redes-sociais a{overflow: hidden; width: 30px; height: 30px;display: block; border-radius: 100%; float: left; margin: 0 .5rem}


@media screen and (max-width:1100px){
    .buttonMenu {
        width: 35px;
        height: 35px;
        background: url(img/menu.png) no-repeat center;
        display: block;
        background-size: cover;
        cursor: pointer;
    }
    .menu-topo{position: relative}
    .menu-topo.ativo .buttonMenu{    filter: invert(1);}
    .menu-topo ul{display: none; width: 100%}
    .menu-topo ul.ativo{display: block; position: absolute; background: #fff; top: 100%; left: 0;}
    .menu-topo ul.ativo a{padding: 1rem; color: #17235b; }
}
@media screen and (max-width:800px){
    .lista-organizadores {grid-template-columns: repeat(3,1fr);grid-gap: 3rem 1rem;margin:  0 auto}
    .lista-speakers {grid-template-columns: repeat(3,calc(100% / 3 - 1rem)); margin:  0 auto; padding: 1rem}
    .lista-speakers img {width: 100px;height: 100px;}
    .flex.vertical.box-interaction {align-items: center;}
    #countdownie {color: #fff;font-size: 2rem;}

}
@media screen and (max-width:600px){
    .infos .nome, .lista-organizadores .nome {font-size: 1rem;}
    .box-interaction .button {font-size: 1rem;}
    #schedule {padding: 2rem 0}
    .box-agenda .horario {width: 70px;}
    .box {padding: 1rem;}
    .lista-speakers li {padding: 1rem;height: inherit;}
    .box-agenda p{font-size: 1rem}
    #sponsors .container{flex-wrap: wrap}
    #fiquepordentro .mc-field-group {width: 100%;margin-bottom: 1rem;}
    #fiquepordentro #mc_embed_signup_scroll {display: block;}
}
@media screen and (max-width:500px){
    .lista-organizadores {grid-template-columns: repeat(2,1fr);grid-gap: 3rem 1rem;margin:  0 auto;     padding: 1rem 0;}
    .lista-speakers {    grid-template-columns: repeat(2,calc(100% / 2 - 1rem));margin: 0 auto;padding: 1rem;}
    .redes-sociais {display: table;margin: 0 auto 1rem;}
    .rodape {flex-direction: column; text-align: center}
}
